REDIRECT_URI= "http://localhost:3000"
CLIENT_ID=
CLIENT_SECRET=

# These are set automatically when running __init__.py
ACCESS_TOKEN
REFRESH_TOKEN

# You need to have spotify open and playing. (only the 1st time, then it remains saved here)
# Is set automatically.
DEVICE_ID
