REDIRECT_URI= "http://localhost:3000"
CLIENT_ID=
CLIENT_SECRET=

# These are set automatically when running __init__.py
ACCESS_TOKEN=
REFRESH_TOKEN=

# global_variables.py finds and sets this value automatically, for the device currently playing.
# Beware that your device's ID may be changed by spotify randomly so this is the best solution.
# OTHERWISE, set your preferred device's ID below and it won't be modified by the script!
DEVICE_ID= None
