REDIRECT_URI= "http://localhost:3000"
CLIENT_ID=
CLIENT_SECRET=

ACCESS_TOKEN
REFRESH_TOKEN
# These are set automatically when running __init__.py

DEVICE_ID
# Is set automatically.
# You need to have spotify open and playing. (only the 1st time, then it remains saved here)
